# STAT 440 Statistical Data Management - Fall 2021
## Week05 Lab01 Wed
### Only the driver should submit this assignment into their individual student repo. Save the filename as lab01-week05-wed-netID.Rmd. Then render this file to .html when completed. 
#### This lab must be submitted within 10 minutes of the end of class time. Any lab submitted after 11:00 am will be deducted 1 point for being late.

**#1** Using Markdown syntax, make a numbered list with the first and last names of everyone at your station. Your name should appear in bold text.

Answers will vary, but must be a proper list with Driver's name in bold text.

**#2** Which of the following are ways (a--e) to interact with this course? Place your answers in bold text.

a. **Using GHE**  
b. Using GitHub.com  
c. **Using Git from the command line**  
d. **Using Git with RStudio as a git client**  
e. Using Git with chriskinson.com  

**#3** Import the Speed Dating Data using one programming language software and the data URL https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/blob/master/data/speed-dating-data.csv or Box data URL https://uofi.box.com/shared/static/w8vjq29rig8pdvussyg3997h1gwhkimq.csv. Now, print the resulting first 10 rows.

  - The dataset (a .csv file) contains a total of 162 observations and 59 columns. The observations are four minute dates that individuals participated in for a speed dating experiment conducted by the Columbia Business School. The columns contain demographic information about the daters and datees as well as survey responses about the dater, dater's dating preferences and scores that the dater gave the datee (datee is defined as "partner"). The datee is the person of the opposite sex who joined the table for the speed date. Technically, the data should contain information from the perspective of the datee when the gender variable changes; thus making them now the dater. A match occurs when both the dater and the datee agree to go on a second date (after the experiment is over). The original sources are Ray Fisman and Sheena Iyengar.

In [1]:
import pandas as pd
speed = pd.read_csv("https://uofi.box.com/shared/static/w8vjq29rig8pdvussyg3997h1gwhkimq.csv")
speed.head(10)

,iid,id,gender,idg,condtn,wave,round,position,order,partner,...,attr,sinc,intel,fun,amb,shar,like,prob,met,match_es
0,234,1,0,1,1,10,9,8,7,1,...,4,8,9.0,7.0,8.0,2.0,5.0,2.0,0.0,1
1,234,1,0,1,1,10,9,8,4,2,...,7,8,8.0,7.0,9.0,5.0,7.0,4.0,0.0,1
2,234,1,0,1,1,10,9,8,6,3,...,4,6,10.0,6.0,6.0,7.0,6.0,2.0,0.0,1
3,234,1,0,1,1,10,9,8,2,4,...,4,8,7.0,5.0,6.0,2.0,4.0,1.0,NaN,1
4,234,1,0,1,1,10,9,8,9,5,...,3,7,9.0,2.0,9.0,NaN,NaN,1.0,0.0,1
5,234,1,0,1,1,10,9,8,3,6,...,5,6,6.0,8.0,6.0,2.0,6.0,3.0,0.0,1
6,234,1,0,1,1,10,9,8,5,7,...,4,8,7.0,8.0,9.0,8.0,7.0,5.0,0.0,1
7,234,1,0,1,1,10,9,8,1,8,...,7,5,8.0,5.0,8.0,7.0,5.0,3.0,0.0,1
8,234,1,0,1,1,10,9,8,8,9,...,5,8,7.0,4.0,NaN,5.0,6.0,4.0,0.0,1
9,235,2,0,3,1,10,9,1,9,1,...,6,6,6.0,5.0,5.0,5.0,5.0,3.0,0.0,1

**#4** Using the imported data in Problem **#3** and the information in the link [speed dating data key](https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/blob/master/data/speed-dating-data-key.doc), create a new data object named "int_corr_success" that:  

- filters the observations such that the match column equals "yes"

- mutates a new column called "abs_int_corr" such that it takes the absolute value of int_corr

- arranges the data by "abs_int_corr" in descending order

- de-selects the following variables: "iid", "id", "gender", "idg", "condtn", "wave", "round", "position", "order", "partner", and "pid"

Now, print the first 10 observations of the "int_corr_success" data set showing only the following columns: abs_int_corr, samerace, age, age_o, and goal.

In [12]:
import numpy as np
speed02 = speed[(speed['match'] == 1)]
speed02.loc[:,'abs_int_corr'] = np.abs(speed02.loc[:,'int_corr'])
speed03 = speed02.sort_values(by='abs_int_corr', ascending=False)
int_corr_success=speed03.drop(columns=['iid','id','gender','idg','condtn','wave','round','position','order','partner','pid'])
int_corr_success[['abs_int_corr','samerace','age','age_o','goal']].head(10)

     abs_int_corr  samerace  age  age_o  goal
148          0.81         0   25     27     4
43           0.81         0   27     25     1
151          0.76         0   25     29     4
70           0.76         0   29     25     2
152          0.67         0   25     26     4
79           0.67         0   26     25     3
34           0.60         0   34     25     3
147          0.60         0   25     34     4
47           0.54         1   34     32     2
104          0.54         1   32     34     4

**#5** How many same race (dater and datee race is the same) matches occur? Use the imported data in Problem **#3**, the information in the link [speed dating data key](https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/blob/master/data/speed-dating-data-key.doc), and a programming language applying data management concepts to answer the questions. **Your answer should be in Markdown syntax and a code chunk should show the result as evidence.**

There are 6 same race matches occurring in the data.

In [2]:
speed.loc[(speed['match']==1) & (speed['samerace'] == 1), 'iid']

9      235
37     238
47     239
82     243
94     244
104    245
Name: iid, dtype: int64